body {
  margin: 0;
  padding: 0;
}

body * {
  margin: 0;
  padding: 0;
}

#separatorDiv {
  background-color: #c2000d;
  height: 2px;
}

#header {
  background-color: white;
  height: 106px;
  margin: 0;
  padding: 0;
}

#headerTopDiv {
  width: 1200px;
  margin: auto;
  height: 100px;
  padding: 16px;
}

#headerTopDiv * {
  /* border: 1px solid blue;  */
}

#companyDiv {
  width: 1000px;
  padding-top: 10px;
  font-size: 20px;
  float: left;
}

#groupLogDiv {
  float: left;
  /*
  width: 50px;
  height: 50px; */
}

#groupLog {
  width: 60px;
}

#companyLogDiv {
  /*margin-left: 340px; */
  padding-top: 4px;
}

#companyLog{
  margin-top: 6px;
  height: 30px;
}

.companyName {
  font-size: 20px;
  font-weight: 400;
  color: #333333;
}

.companyEnglishName {
  font-style: italic;
  color: #8c8c8c;
  font-size: 16px;
}

#personInfoDiv {
  padding-top: 10px;
  width: 195px;
  float: left;
  text-align: right;
  font-size: 14px;
}

#navigatorDiv {
  border: 1px red none;
  width: 1200px;
  margin: auto;
  padding-top: 35px;
  height: 40px;
}

#navigatorDivInner {
  border: 1px red none;
  padding-left: 196px;
  height: 40px;
}

#headerLinkDiv {
  float: left;
  margin: 10px 0 0 0;
  padding: 0;
}

#navigatorDivInner a {
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin: 0 8px 0 8px;
}

#navigatorDivInner a:hover {
  color: red;
}

#searchDiv {
  float: right;
  width: 300x;
  text-align: right;
}

#searchDiv input {
  display: block;
  float: right;
}

input#searchInput {
  width: 200px;
  border: none;
  line-height: 34;
  margin: 0;
  padding: 0;
  height: 34px;
}


input#searchButton {
  width: 80px;
  line-height: 34px;
  border: none;
  background-color: red;
  color: white;
  font-size: 16px;
  margin-top: 0;
  padding: 0;
}


#contentContainer {
  width: 1200px;
  margin: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}

#footer {
  background-color: #FFFFFF;
  height: 140px;
  padding: 0;
  color: #484848;
  font-size: 12px;
  font-weight: lighter;
  clear: both;
}

#linksDiv {
  padding-top: 10px;
  width: 644px;
  margin: auto;
  height: 60px;
  text-align: left
}

#linksDiv p {
  margin: 0;
  padding: 0;
}

#linksDiv a {
  margin: 0 8px 0 0px;
  
}

#linksDiv a:hover {
  color:red;
}

p#linksDivHeader {
  margin-bottom: 4px;
}

#footerBottomDiv {
  width: 840px;
  margin: auto;
  margin-top: 14px;
  text-align: center
}

#footerBottomDiv p {
  margin: 0;
  padding: 0;
}

p#secondLine {
  margin-top: 4px;
} 


#content {
  margin-top: 10px;
  width: 1200px;
}



.divLine {
  /* margin-left: 200px; */
  clear: both;
}