
#content .clothDiv {
  padding-right: 20px;
  width: 180px;
  height: 240px;
  float: left;
}

#content .clothDiv p {
  text-align: center;
  font-size: 12px;
}

#content .clothImage {
  width: 180px;
  height: 180px;
}

.divLine {
  /* margin-left: 200px; */
  clear: both;
}

#paginationDiv {
  margin-top: 15px;
  margin-bottom: 5px;
  float: right;
  margin-right: 15px;
}